body{
  background-color: #EAF6F6;
}
h1{
  color: #48C9B0;
}
h3{
  color: #48C9B0;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width:5%;
}
.santo{
  border-radius: 20%;
}
img:hover{
  background-color: blue;
}
